/* Fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

/* Components */
/* @import url("components/name_of_component.css"); */
@import url("components/pick_a_day.css");
@import url("components/calendar_bits.css");
@import url("components/calendar_frame.css");

body {
    margin: 0;
    margin-bottom: 100px;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    background-color: lightblue;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 60%;
    margin: 50px auto;
    display: flex;

}


.pick-a-day {
    width: auto;
    display: flex;
    justify-content: center;
    font-weight: lighter;
    background: white;
    padding: 10px 35px;
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.15);
}

.icon {
    text-align: center;
    margin: auto;
    padding-right: 15px;
}


.container-cal {
    max-width: 60%;
    margin: 5px auto;
    display: flex;

}

.parent {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
    justify-content: center;
    font-weight: lighter;
    background: white;
    padding: 4px 4px;
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.15);
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 180px;
    height: auto;
    background: white;
    font-size: 1.5rem;
    text-align: center;
    border-right: 2px solid rgb(235,235,235);
    padding-top: 2rem;

}

.sidebar a {
    text-decoration: none;
    color: #268BD2;
}
.sidebar p {
    margin: 0;
    padding: 0 50px;
    font-size: smaller;
}


/*.sidebar a:first-child {
   CSS code for the first element with class="notification"

}*/
/*.notification:last-child {
   CSS code for the last element with class="notification"
}
*/
